$brand-primary: #477dca;
$brand-secondary: green;
$brand-white: white;
$brand-black: #333;

$white: $brand-white;
$black: $brand-black;

$serif: "Georgia", Cambria, Times New Roman, Times, serif;
$sans-serif: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
$font1: "Francois One", sans-serif;
$font2: "Open Sans", sans-serif;
